{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>Главная страница</h1>

<div class="total-employees">
    <h3>Всего сотрудников в компании: {{ total_employees }}</h3>
</div>

<p>Добро пожаловать в систему управления сотрудниками!</p>

<h2>Новые сотрудники</h2>
<div class="employee-cards">
    {% for employee in employees %}
    <div class="employee-card">
    
        {% if employee.staff_image %}
        <img src="{{ employee.staff_image.image.url }}" alt="{{ employee.full_name }}" width="200">
        {% endif %}
        
        <h3><a href="{% url 'employees:employee_detail' employee.pk %}">{{ employee.full_name }}</a></h3>
        
        <p><strong>Навыки:</strong> {{ employee.get_skills_display }}</p>
        
        <p><strong>Стаж:</strong> {{ employee.work_experience }} дней</p>
    </div>
    {% empty %}
    <p>Пока нет сотрудников</p>
    {% endfor %}
</div>
{% endblock %}